@media (max-width: 600px) {
    .ant-card {
      padding: 12px !important;
    }
  
    .ant-btn {
      width: auto !important;
      font-size: 14px !important;
    }
  
    h2 {
      font-size: 18px !important;
    }
  
    ul {
      padding-left: 16px !important;
    }
  }


  